* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

// layout rules

.container1200 {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    width: 100%;
    height: 100%;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-self: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.layout-db {
    border: 2px solid black;
}

.txt-center {
    text-align: center;
}

// column system ----------------------------------------------------------------------------------||||||||||||||||||||||||||||

.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: calc((100% / 12) * 6);
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

.col-12 {
    width: calc((100% / 12) * 12);
}

//------------------------------------------------------------------------------------------------||||||||||||||||||||||||||||

//utilities

.h-400 {
    height: 700px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.g-100 {
    gap: 80px;
}

.ps-10 {
    padding: 0 20px
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.relative {
    position: relative;
}

//-------------------------------------
//Buttons

.blue-btn {
    color: white;
    background-color: #427ED1;
    padding: 8px 20px;
    border-radius: 15px;
    border: none;
}

.btn-glassy {
    background-color: rgba(255, 255, 255, 0.158);
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}